
 /*FONTS*/
@font-face {
    font-family: "hellogoodbye";
    src: url('webfontkit/hellogoodbye-webfont.eot');
    src: url('webfontkit/hellogoodbye-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/hellogoodbye-webfont.woff') format('woff'),
         url('webfontkit/hellogoodbye-webfont.ttf') format('truetype'),
         url('webfontkit/hellogoodbye-webfont.svg#@{family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-smooth:always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@font-face{
    font-family: "kgsweetnsassy";
    src: url('webfontkit/kgsweetnsassy-webfont.eot');
    src: url('webfontkit/kgsweetnsassy-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfontkit/kgsweetnsassy-webfont.woff') format('woff'),
         url('webfontkit/kgsweetnsassy-webfont.ttf') format('truetype'),
         url('webfontkit/kgsweetnsassy-webfont.svg#@{family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-smooth:always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html h1, html h2, html h3, html h4, body h1, body h2, body h3, body h4 {
    font-family:hellogoodbye;
    color:#535353;
    font-weight: normal;
    display: inline;

    -webkit-margin-before: 0.8em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

    -moz-margin-before: 0.8em;
    -moz-margin-after: 0.5em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;

    -o-margin-before: 0.8em;
    -o-margin-after: 0.5em;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
}

html h1, body h1 {
    line-height:55px;
    font-size:34pt;
}

html h2, body h2 {
    font-size:28pt;
    line-height:28pt;
}

html h3, body h3 {
    font-size:22pt;
    line-height:22pt;
}

html h4, body h4 {
    font-size:16pt;
    line-height:16pt;
    -webkit-margin-before: 1.4em;
}

a {
    color:#535353;
}

a:hover {
    color:#B9C1BE;
}

.pink {
    color:#F29AA4;
}

.light_gray {
    color:#B9C1BE;
}


.justified {
    text-align: justify;
    text-justify: inter-word;
}