<material-toolbar verdicci-menu>
    <div layout="horizontal">
        <div id="menu-button-content" layout="horizontal" layout-align="space-between" flex="80">
            <material-button ng-repeat="menu in menuCtrl.menus"
                      ng-click="menuCtrl.handleClick(menu)" ng-disabled="menu.active" menu-button>{{menu.name}}</material-button>
        </div>
        <div id="menu-icon-content" layout="horizontal" layout-align="space-around" flex="20">
            <div flex></div>
            <div layout="horizontal" layout-align="end" flex><material-button class="material-button-fab" menu-icon><img src="images/icon_facebook.png" /></material-button></div>
            <div layout="horizontal" layout-align="end" flex><material-button class="material-button-fab" menu-icon ><img src="images/icon_instagram.png" /></material-button></div>
        </div>
    </div>
</material-toolbar>
<div id="view-title" layout="horizontal">
    <div><h1>VERDICCI</h1></div>
    <div>&nbsp;<img src="images/heart_small.png"/>&nbsp;</div>
    <div flex><h1>{{menuCtrl.currentMenu().title}}</h1></div>
</div>